<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div class="edit-profile-container">
    <h1>Edit Your Profile</h1>
    <h2>Please edit the details below:</h2>

    <form class="edit-profile-form" action="/users/<%= user._id %>/details/Candidate?_method=PUT" method="POST">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName" required value="<%= currentUser.details.firstName %>">
        </div>

        <div class="form-group">
            <label for="secondName">Second Name:</label>
            <input type="text" name="secondName" id="secondName" required value="<%= currentUser.details.secondName %>">
        </div>

        <div class="form-group">
            <label for="roles">Role:</label>
            <select name="roles" id="roles" required>
                <option value="">Select a role</option>
                <option value="Teacher" <%= currentUser.details.roles === 'Teacher' ? 'selected' : '' %>>Teacher</option>
                <option value="Support Staff" <%= currentUser.details.roles === 'Support Staff' ? 'selected' : '' %>>Support Staff</option>
                <option value="Administrator" <%= currentUser.details.roles === 'Administrator' ? 'selected' : '' %>>Administrator</option>
                <option value="Counselor" <%= currentUser.details.roles === 'Counselor' ? 'selected' : '' %>>Counselor</option>
                <option value="Maintenance" <%= currentUser.details.roles === 'Maintenance' ? 'selected' : '' %>>Maintenance</option>
            </select>
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" required value="<%= currentUser.details.location %>">
        </div>

        <div class="form-group">
            <label for="chargeRate">Daily Charge Rate:</label>
            <input type="number" name="chargeRate" id="chargeRate" required step="0.01" value="<%= currentUser.details.chargeRate %>">
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-primary">Update Details</button>
        </div>
    </form>
</div>













<%- include('../partials/_footer.ejs') %>