<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_searchbar.ejs') %>
    
    <div class="main">
        <% currentJobs.forEach((job)=>{ %>
                <a href="/users/<%=user._id%>/School/job/<%= job._id %>">
                    <div class="job-box">
                        <div class="job-box-header">
                            <h1><%= job.title %> </h1>
                            <h2> $<%= job.pay %>/day </h2>
                        </div>
                        <div class="job-box-company-picture"></div>
                        <div class="job-box-info">
                            <h4>Location: <%= job.schoolId.details.location %></h4>
                            <h4>Apply By: <%= job.listingEnd.getDate() %>/<%= job.listingEnd.getMonth() + 1 %>/<%= job.listingEnd.getFullYear() %></h4>
                        </div>
                        <% if(currentUser.details.jobsAppliedFor.some(jobId => jobId.toString() === job._id.toString())) { %>
                            <form action="none">
                                <button type="submit" id="applied">APPLIED</button>
                            </form>

                            <% } else { %>
                                <form action="/users/<%=user._id%>/School/job/<%= job._id %>/apply" method="POST">
                                    <button type="submit">APPLY</button>
                                </form>
                                <% } %>
                    </div>
                </a>
        <% }) %>
    </div>
    

    <%- include('../partials/_footer.ejs') %>